################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VRGateway/x64/Release/VRGateway.tlog
/VRGateway/x64/Release
/x64/Release/VRGateway.pdb
/x64/Release/VRGateway.ipdb
/x64/Release/VRGateway.iobj
/VRGateway.VC.VC.opendb
/VRGateway.VC.db
/ipch/VRGATEWAY-f3f91672/VRGATEWAY-ecbbad5e.ipch
